name: IPTV_m3u

on:
  push:
    branches:
      - main
  schedule:
    - cron: '0 */3 * * *'

jobs:
  IPTV_m3u:
    runs-on: ubuntu-24.04
    env:
      HAS_CHANGES: false
    steps:
    - name: Checkout repository
      uses: actions/checkout@master

    - name: Pull
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        git config --global user.name 'github-actions[bot]'
        git config --global user.email 'github-actions[bot]@users.noreply.github.com'
        git pull origin main

    - name: Download M3U Files
      run: |
        curl -o iptv.m3u https://raw.githubusercontent.com/Mursor/LIVE/refs/heads/main/iptv.m3u
        curl -o ITV.m3u https://raw.githubusercontent.com/towerstreet/IPTV-TVBOX/refs/heads/main/ITV.m3u
        curl -o Global.m3u https://raw.githubusercontent.com/YueChan/Live/refs/heads/main/Global.m3u
        curl -o Radio.m3u https://raw.githubusercontent.com/YueChan/Live/refs/heads/main/Radio.m3u

    - name: Merge M3U Files
      run: cat iptv.m3u ITV.m3u Global.m3u Radio.m3u > IPTV.m3u

    - name: Delete Original M3U Files
      run: |
        rm -f iptv.m3u
        rm -f ITV.m3u
        rm -f Global.m3u
        rm -f Radio.m3u

    - name: Check for changes and commit
      run: |
        git add IPTV.m3u
        if git diff --cached --quiet; then
          echo "No changes to commit"
        else
          echo "HAS_CHANGES=true" >> $GITHUB_ENV
          git commit -m 'Update IPTV.m3u'
          git push origin main
        fi
